<div class='col-md-6 col-md-offset-3'>
    <%= form_for(:session, url: login_path, class: 'form-horizontal') do |f| %>
        <%= f.label :username %>
        <%= f.text_field :username, class: "form-control" %>

        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>

				<br>
        <%= f.submit "Log in", class: "btn btn-primary btn-block" %>
    <% end %>

    </br>
    <%= button_to 'Duke NetID Log in', '/auth/duke_oauth2', class: "btn btn-info btn-block" %>
	</div>

