<br>
<div class="panel panel-info">
	<div id="backfill-<%= backfill.id %>">	
	
		<div class="panel-body">

			<% request = Request.find(backfill.request_id) %>
			<% item = Item.find(backfill.item_id) %>
			<% user = User.find(request.user_id) %>

			<div class="col-lg-6">
				<strong>User </strong><%= link_to user.username, user_path(user.id) %>
				<br>
				<strong>Item </strong><%= link_to item.unique_name, item_path(item.id) %>
				<br>
        <strong>Request Item ID </strong><%= backfill.id %>
        <br>
				<strong>Quantity </strong>
					
				<% if backfill.bf_satisfied? %>
					<%= backfill.quantity_return %>
				<% else %>
					<%= backfill.quantity_loan %>
				<% end %>

				<br>
				<br>
				<%= link_to "Related Request", request_path(request.id) %>
			</div>

			<div class="col-lg-5 pull-right">
				<%= render 'backfills/attachmentsform', request_item: backfill %>
			</div>


	
		</div>

	</div>
</div>
