
<% Array(@request_items).each do |req_item| %>
    <p>
      <strong> This is the item id </strong>
    </p>

    <p>
      <%=  req_item.item.unique_name %>.
    </p>

    <p>
      <strong> This is quantity disbursed amount </strong>
    </p>

    <p>
      <%=  req_item.quantity_disburse %>.
    </p>

    <p>
      <strong> This is quantity loaned amount </strong>
    </p>

    <p>
      <%=  req_item.quantity_loan %>.
    </p>

    <p>
      <strong> This is the status </strong>
    </p>

    <p>
      <%= req_item.request.status %>.
    </p>

    <p>
      <strong> This is the item user </strong>
    </p>

    <p>
      <%= req_item.request.user.email %>.
    </p>

    <p>
      <strong> This is the item due date </strong>
    </p>

    <p>
      <%= req_item.created_at %>.
    </p>
<% end %>

