<p>
  <strong> This is the item id </strong>
</p>

<p>
  <%=  @requestItem.item.unique_name %>.
</p>

<p>
  <strong> This is quantity disbursed amount </strong>
</p>

<p>
  <%=  @requestItem.quantity_disburse %>.
</p>

<p>
  <strong> This is quantity loaned amount </strong>
</p>

<p>
  <%=  @requestItem.quantity_loan %>.
</p>

<p>
  <strong> This is the status </strong>
</p>

<p>
  <%= @requestItem.request.status %>.
</p>

<p>
  <strong> This is the item user </strong>
</p>

<p>
  <%= @requestItem.request.user.email %>.
</p>

<p>
  <strong> This is the item due date </strong>
</p>

<p>
  <%= @requestItem.created_at %>.
</p>