<p>
  <strong>Items:</strong>
  <% @request.request_items.each do |req_item| %>
      <% item = Item.find(req_item.item_id) %>
    <p>
      <strong>
      <%=item.unique_name %>
      </strong>
    </p>
      <% if (req_item.quantity_loan > 0) %>
          Quantity Loaned:
          <%= req_item.quantity_loan %>
      <% end %>
      <br>
      <% if (req_item.quantity_disburse >0) %>
          Quantity Disbursed:
          <%= req_item.quantity_disburse %>
      <% end %>
<% end %>
</p>
<p>
  <strong>Requested On:</strong>
  <%= @request.created_at.to_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @request.user.username %>
</p>



