<!DOCTYPE html>
<html>

<%= render 'preamble' %>


<% if @userMadeRequest %>
    <p>
      Your request has been approved by<strong> <%= @user.username %>! </strong> Here are the following items you requested.
    </p>
<% else %>
    <p>
      <%= @user.username %> made a request for you. Here are the following items <%= @user.username %> checked out for you.
    </p>
<%end%>

<%= render 'request_info' %>

<p>
  <strong>Reason:</strong>
  <%= @request.response %>
</p>

<%= render 'ending' %>

</html>
