
<div class="center_jumbotron">

  <h2 class="page-header">
    <%= link_to @item.unique_name, item_path(@item.id) %>

    <div class="pull-right">
      <%= link_to "Available", item_stocks_path(@item , available: true), class: "btn btn-primary" %>
      <%= link_to "Unavailable", item_stocks_path(@item, available: false), class: "btn btn-primary" %>
      <%= link_to 'Convert to Global Item', convert_to_global_item_path(@item), method: :post, data: {confirm: 'Are you sure you want convert back to global item? This will destroy all data relating to your individual assets' }, class: 'btn btn-primary btn-warning' %>
    </div>
  </h2>
</div>

<%= form_tag( create_stocks_item_path(@item), method: :post, multipart: true) do |f| %>
    <div class="pull-right form-group">
      <%= number_field_tag :num_stocks, '0', class: 'form-control col-lg-10' %>
      <%= submit_tag "Create Assets", class: "form-control", type: "submit" %>
    </div>
<% end %>


<table class="table table-striped table-hover">
  <thead>

  <tr>
    <th>Serial Tag</th>
    <th>Available</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <%= render @stocks %>
  </tbody>
</table>

<div class="text-center">
  <%= will_paginate(@stocks) %>
</div>