<p id="notice"><%= notice %></p>


<ul class="nav nav-tabs">
  <li class="active"><a href="#home" data-toggle="tab">User Info</a></li>
  <li><a href="#requests" data-toggle="tab">Requests (<%= @requests.count %>)</a></li>
</ul>
  <div class="col-md-8">
      <ol class="requests">
        <%= render @requests %>
      </ol>
	</div>

<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="home">

    <p>
      <strong>Username:</strong>
      <%= @user.username %>
    </p>

    <p>
      <strong>Privilege:</strong>
      <%= @user.privilege %>
    </p>
  </div>
  <div class="tab-pane fade" id="requests">
    <% provide(:title, @user.username) %>
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <h1>
            <%= gravatar_for @user %>
            <%= @user.username %>
          </h1>
        </section>
      </aside>

      <div class="col-md-8">
        <% if @user.requests.any? %>
            <h3>Requests (<%= @user.requests.count %>)</h3>
            <ol class="requests">
              <%= render @requests %>
            </ol>

            <%= will_paginate @requests %>
        <% end %>
      </div>
    </div>  </div>
</div>

<% if @user.status_deactivated? %>
	<p><strong>Status: </strong>
	<%= @user.status %></p>
<% elsif is_admin? && @user != current_user%>
	<%= render 'deactivateuserform', user: @user %>
<% end %>


<%= link_to 'Edit', edit_user_path(@user) if (is_admin? || current_user?(@user)) %> |
<%= link_to 'Back', url_for(:back) %> |
<%= link_to 'Authentication Token', auth_token_path %>
