<% provide(:title, 'Login Homepage') %>

<div class="center_jumbotron">
  <h2 class="page-header text-center">Welcome to Bletsch's Barn</h2>
</div>

<% if !logged_in? %>
<div class='row'>
	<div class='col-md-6 col-md-offset-3'>
    <%= form_for(:session, url: login_path, class: 'form-horizontal') do |f| %>
        <%= f.label :username %>
        <%= f.text_field :username, class: "form-control" %>

        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>

				<br>
        <%= f.submit "Sign in", class: "btn btn-primary btn-block" %>
    <% end %>

    </br>
    <%= button_to 'Duke NetID Login', '/auth/duke_oauth2', class: "btn btn-info btn-block" %>
	</div>
</div>
<% else %>
	<%= image_tag("austin.jpg", :alt => "rss feed", class: "center-block") %>
<% end %>

<div class="center_jumbotron">
  <h3 class="page-header">Testimonials</h3>
</div>

<blockquote>
	<p>This is my favorite place to get LEDs and Arduinos!</p>
	<small>Beyonce Knowles</small>
</blockquote>

<blockquote class="blockquote-reverse">
	<p>This website satisfies all my domestic needs ;)</p>
	<small>Andrew Sun</small>
</blockquote>

<blockquote>
	<p>this website saved my marriage with andrew sun, even though he forgot to buy our eball tickets.</p>
	<small>Michael Shih</small>
</blockquote>

<blockquote class="blockquote-reverse">
	<p>I don't think Andrew Sun appreciates me. Maybe I should use this website.</p>
	<small>Austin Liu</small>
</blockquote>

<blockquote>
	<p>It doesn't matter where you start. Only that you begin.</p>
	<small>Robin Sharma</small>
</blockquote>


