<%= form_for(request) do |f| %>

    <div class="form-group">
      <%= f.label :response, "Response", class: "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.text_area :response, class: "form-control", :rows => 3 %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">Decision</label>
      <div class="col-lg-10">
        <div class="radio">
          <%= f.radio_button :status, 'approved', :checked => true %>
          <%= label :status_approved, 'Approve' %>
        </div>
        <div class="radio">
          <%= f.radio_button :status, 'denied' %>
          <%= label :status_denied, 'Deny'%>
        </div>
      </div>
    </div>

	<% f.fields_for :request_items do |ff|  %>
		<% ri = ff.object %>
		<% ff.hidden_field :quantity, :value => ri.quantity %>
		<% ff.hidden_field :item_id, :value => ri.item_id %>
		<% ff.hidden_field :request_id, :value => ri.request_id %>
	<% end %>

  <%= f.hidden_field :user_id, :value => (request.user_id) ? request.user_id : current_user.user_id %>
  <%= f.hidden_field :reason, :value => request.reason %>
  <%= f.hidden_field :request_type, :value => request.request_type %>

  <%= f.submit class: "btn btn-primary"%>
<% end %>
