<%= form_for(request) do |f| %>
  <% @form_obj = request %>
  <% if @form_obj %>
    <%= render 'shared/error_messages', object: @form_obj %>
  <% end %>

  <p>
    <b>Item Requested</b>
    <% item = Item.find(request.item_id) %>
    <% if item %>
      <%= item.unique_name %>
    <% end %>
  </p>

  <p>
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity, :required => true %>  </p>
  
  <p>
    <%= f.label 'User to distribute to' %><br>
    <%= collection_select(:user, :id, User.where(:status => 1), :id, :username, {:prompt => true}, {:required => true}) %>
  </p>

  <p>
    <%= f.label 'Administrator Comment' %><br>
    <%= f.text_area :response %>
  </p>

  <%= f.hidden_field :item_id, :value => request.item_id %>
  <%= f.hidden_field :reason, :value => request.reason %>
  <%= f.hidden_field :status, :value => "approved" %>
  <%= f.hidden_field :request_type, :value => "disbursement" %>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
