<%= form_for(request) do |f| %>
  <% @form_obj = request %>
  <% if @form_obj %>
    <%= render 'shared/error_messages', object: @form_obj %>
  <% end %>

  <p>
    <b>Item Requested</b>
    <%= @item.unique_name %>
  </p>

  <p>
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity, :required => true %>
  </p>
  
  <p>
    <%= f.label :request_type %><br>
    <%= f.select :request_type, Request.request_types.keys.to_a %>
  </p>

  <p>
    <%= f.label :reason %><br>
    <%= f.text_area :reason, :required => true %>
  </p>

  <%= f.hidden_field :item_id, :value => request.item_id %>
  <%= f.hidden_field :user_id, :value => (request.user_id) ? request.user_id : current_user.id %>
  <%= f.hidden_field :status, :value => "outstanding" %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
