<%= form_for(request) do |f| %>
  <% @form_obj = request %>
  <% if @form_obj %>
    <%= render 'shared/error_messages', object: @form_obj %>
  <% end %>

	<p>
		<b>Items Requested</b>

		<% if request.request_items.empty? %>
			<p> Your cart is empty! </p>
		<% end %>

		<% for request.request_items.each do |req_item| %>
			<% f.fields_for(req_item) do |ff| %>
				<p>
					<%= Item.find(req_item.item_id).unique_name %>
					<%= ff.number_field :quantity, :required => true %>
				</p>	
			<% end %>
		<% end %>

	</p>

  <p>
    <%= f.label :reason %><br>
    <%= f.text_area :reason, :required => true %>
  </p>

  <%= f.hidden_field :user_id, :value => (request.user_id) ? request.user_id : current_user.id %>
  <%= f.hidden_field :status, :value => request.status %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
