<br>
<div class="panel panel-info">
  <div id="request-<%= request.id %>">

    <div class="panel-body">
			<% initiator = User.find(request.request_initiator) %>
      <strong>Requested </strong>by <%= link_to initiator.username, user_path(initiator.id) %>
			<% if request.request_initiator != request.user_id %>
				for <%= link_to request.user.username, user_path(request.user_id) %>
			<% end %>
      </br><strong>Reason </strong><%= request.reason %>

      <br><br>
      <div class="pull-right">
	<% if request.outstanding? %>
	  <p class="label label-warning pull-right"><%= request.status %>

	<% elsif request.approved? %>			
	  <p class="label label-success pull-right"><%= request.status %>
	<% elsif request.denied? %>
	  <p class="label label-danger pull-right"><%= request.status %>
	<% elsif request.cancelled? %>
	  <p class="label label-default pull-right"><%= request.status %>
	<% end %>
		</p>

		<br><br>
		<p class="label label-default pull-right"><%= request.determine_request_type%></p>
   </div>

	
      
      <%= link_to 'Show Request Details', request%>
      </br>Updated <%= time_ago_in_words(request.updated_at) %> ago.

    </div>
  </div>
</div>


