<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Item Name</th>
			<th class="text-center">Quantity Loaned</th>
			<th class="text-center">Quantity Disbursed</th>
			<th class="text-center">Quantity Returned</th>
			<th></th>
			<th></th>
		</tr>
	</thead>

        <tbody>
		<% request.request_items.each do |req_item| %> 
			<tr>
				<td><%= link_to req_item.item.unique_name, item_path(req_item.item_id) %></td>
				<td class="text-right"><%= req_item.quantity_loan %></td>
				<td class="text-right"><%= req_item.quantity_disburse %></td>
				<td class="text-right"><%= req_item.quantity_return %></td>
				<% if (req_item.quantity_loan > 0) && is_manager_or_admin? && current_user != User.find(request.user_id) && !req_item.bf_request? && !req_item.bf_in_transit? %>
					<td><%= render :partial => 'loans/returnquantityform', locals: {request_item: req_item} %></td>
					<td><%= render :partial => 'loans/disbursequantityform', locals: {request_item: req_item} %></td>
				<% else %>
					<td></td>
					<td></td>
				<% end %>

				<% if current_user == User.find(request.user_id) or (!req_item.loan?) %>
					<td><%= render 'backfills/attachmentsform', request_item: req_item %></td>
				<% else %>
					<td></td>
				<% end %>
			</tr>
		<% end %>	
	</tbody>
</table>
