<p id="notice"><%= notice %></p>


<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <h1>Requests</h1>
    <%= link_to "Outstanding Requests", requests_path(:status => "outstanding"), class: "btn btn-lg btn-primary" %>
    <%= link_to "Approved Requests", requests_path(:status => "approved"), class: "btn btn-lg btn-primary" %>
    <%= link_to "Denied Requests", requests_path(:status => "denied"), class: "btn btn-lg btn-primary" %>
    <%= link_to "View All", requests_path, class: "btn btn-lg btn-primary" %>
 
    <% if @requests.any? %>
        <h3>No. Requests (<%= @requests.count %>)</h3>
        <ol class="requests">
          <%= render @requests %>
        </ol>

        <%= will_paginate @requests %>
    <% end %>

    <br>
 </div>
</div>
