<p id="notice"><%= notice %></p>

<p>
  <strong>Request ID:</strong>
  <%= @request.req_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @request.user %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
