<p id="notice"><%= notice %></p>

<p>
  <strong>Requested On:</strong>
  <%= @request.created_at.to_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Items:</strong>
  <% @request.request_items.each do |req_item| %>
      <% item = Item.find(req_item.item_id) %>
      <li><%= item.unique_name + ': '%>
      <%= req_item.quantity %> </li>
  <% end %>
</p>

<p>
  <strong>Request Type:</strong>
  <%= @request.request_type %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @request.reason %>
</p>

<p>
  <strong>Status:</strong>
  <%= @request.status %>
</p>

<% if !@request.outstanding? %>
  <p>
    <strong>Admin Response:</strong>
    <%= (@request.response) ? @request.response : "None given." %>
  </p>
<% end %>


<% if @request.outstanding? && current_user.privilege_admin? %>
  <%= render 'decisionform', request: @request %>
<% end %>


<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Destroy', @request, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', requests_path %>
