<p id="notice"><%= notice %></p>

<p>
  <strong>Request Time:</strong>
  <%= @request.datetime %>
</p>

<p>
  <strong>User:</strong>
  <%= @request.user %>
</p>

<p>
  <strong>Item:</strong>
  <%= @request.item %>
</p>

<p>
  <strong>Request Type:</strong>
  <%= @request.request_type %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @request.quantity %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @request.reason %>
</p>

<p>
  <strong>Status:</strong>
  <%= @request.status %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
