<p id="notice"><%= notice %></p>

<p>
  <strong>Requested On:</strong>
  <%= @request.created_at.to_date %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @user.username, user_path(@user.id) %>
</p>

<p>
  <strong>Items:</strong>
	<% if @request.request_items.empty? && @request.cart? %>
		<p>Your cart is empty! Add items in order to checkout. </p>
  <% end %>
  <% @request.request_items.each do |req_item| %>
      <% item = Item.find(req_item.item_id) %>
      <p><%= link_to item.unique_name, item_path(item.id) %>: 
				<%= req_item.quantity %>
				
				<% if @request.cart? || @request.outstanding? %>
					<%= link_to "x", req_item, method: :delete, data: {confirm: "Are you sure you want to remove " + item.unique_name + "?"}, class: "pull-right" %>	
				<% end %>
			</p>
  <% end %>
</p>

<p>
	<% if !@request.cart? && !@request.cancelled? ||  !is_manager_or_admin? %>
  <strong>Reason:</strong>
  <%= @request.reason %>
	<% end %>
</p>


<% if !@request.cart? %>
	<p>
  	<strong>Status:</strong>
  	<%= @request.status %>
	</p>
<% end %>

<% if !@request.outstanding? && !@request.cart? %>
  <p>
    <strong>Admin Response:</strong>
    <%= (@request.response) ? @request.response : "None given." %>
  </p>
<% end %>

<% if @request.outstanding? && is_manager_or_admin? %>
  <%= render 'decisionform', request: @request %>
<% end %>

<% if !@request.request_items.empty? && @request.cart? && is_manager_or_admin? %>
	<%= render 'placeorderform', request: @request %>
<% end %>

<% if @request.cart? %>
    <%= link_to 'Clear Items in Cart', clear_request_path(@request), method: :put %> |

		<% if is_manager_or_admin? %>
			<%= link_to 'Edit', edit_request_path(@request) %> |
		<% else %>
	 		<%= link_to 'Edit/Supply Reason to Submit', edit_request_path(@request) %> | 
		<% end %>
<% end %> 

<% if @request.outstanding? %>
	<%= render 'cancelorderform', request: @request %>
 		<%= link_to 'Edit', edit_request_path(@request) %> |
<% end %>

<% if @request.cancelled? %>
	<%= render 'reviveorderform', request: @request %>
<% end %>

<%= link_to 'Back', :back %>
