<p id="notice"><%= notice %></p>

<p>
  <strong>Requested On:</strong>
  <%= @request.created_at.to_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Items:</strong>
	<% if @request.request_items.empty? %>
		<p>Your cart is empty!</p>
  <% end %>
  <% @request.request_items.each do |req_item| %>
      <% item = Item.find(req_item.item_id) %>
      <p><%= item.unique_name + ': '%>
      <%= req_item.quantity %> </p>
  <% end %>
</p>

<p>
  <strong>Request Type:</strong>
  <%= @request.request_type %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @request.reason %>
</p>


<% if !@request.cart? %>
	<p>
  	<strong>Status:</strong>
  	<%= @request.status %>
	</p>
<% end %>

<% if !@request.outstanding? && !@request.cart? %>
  <p>
    <strong>Admin Response:</strong>
    <%= (@request.response) ? @request.response : "None given." %>
  </p>
<% end %>


<% if @request.outstanding? && current_user.privilege_admin? %>
  <%= render 'decisionform', request: @request %>
<% end %>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Destroy', @request, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', requests_path %>
