<p id="notice"><%= notice %></p>

<% if @request.cart? %>

	<h2 class="page-header">Your Cart</h2>
	<% if @request.request_items.empty? %>
		<h4>Your cart is empty! Add items in order to checkout. </h4>
	<% else %>
		<%= render :partial => 'editrequestitems', locals: {request: @request} %>

		<% if is_manager_or_admin? %>
			<%= render :partial => 'managerplaceorderform', locals: {request: @request} %>
		<% else %>
			<%= render :partial => 'userplaceorderform', locals: {request: @request} %>
		<% end %>
	<% end %>

<% elsif @request.outstanding? %>

	<div class="page-header">
		<h4 class="pull-right"><%= time_ago_in_words(@request.updated_at) %> ago.</h4>
		<h3><strong>Requested  </strong>by 
			<%= link_to @request.user.username, user_path(@request.user_id) %>
		</h3>
	</div>

	<%= render :partial => 'editrequestitems', locals: {request: @request} %>

	<!-- reason (updatable?)-->
	<p>
		<strong>Reason </strong>
		<%= @request.reason %>
	</p>

	<% if current_user == @request.user %>
		<%= render 'cancelorderform', request: @request %>
	<% end %>

	<% if is_manager_or_admin? %>
		<div class="pull-right">
			<%= render 'approveorderform', request: @request %>
			<%= render 'denyorderform', request: @request %>
			<br>
		</div>
	<% end %>

<% elsif @request.approved? || @request.denied? %>



	<%= render :partial => 'viewrequestitems', locals: {request: @request} %>


<% elsif @request.cancelled? %>


<% end %>
