
<% if @request.cart? %>

	<h2 class="page-header">Your Cart</h2>
	<% if @request.request_items.empty? %>
		<h4>Your cart is empty! Add items in order to checkout. </h4>
	<% else %>
		<%= render :partial => 'editrequestitems', locals: {request: @request} %>

		<% if is_manager_or_admin? %>
			<%= render :partial => 'managerplaceorderform', locals: {request: @request} %>
		<% else %>
			<%= render :partial => 'userplaceorderform', locals: {request: @request} %>
		<% end %>
	<% end %>

<% elsif @request.outstanding? %>

	<div class="page-header">
		<h4 class="pull-right"><%= time_ago_in_words(@request.created_at) %> ago</h4>
		<h3><strong>Requested  </strong>by 
			<%= link_to @request.user.username, user_path(@request.user_id) %>
		</h3>
	</div>

	<%= render :partial => 'editrequestitems', locals: {request: @request} %>

	<!-- reason (updatable?)-->
	<p>
		<strong>Reason </strong>
		<%= @request.reason %>
	</p>

	<% if current_user == @request.user %>
		<%= render 'cancelorderform', request: @request %>
	<% end %>

	<% if is_manager_or_admin? %>
		<div class="pull-right">
			<%= render 'approveorderform', request: @request %>
			<%= render 'denyorderform', request: @request %>
			<br>
		</div>
	<% end %>

<% elsif @request.approved? %>

	<div class="page-header">
		<h4 class="pull-right"><%= time_ago_in_words(@request.created_at) %> ago</h4>
		<h3><strong>Requested  </strong>by 

			<% if @request.user_id != @request.request_initiator %>
				<%= link_to User.find(@request.request_initiator), user_path(@request.request_initiator) %> for 
			<% end %>

			<%= link_to @request.user.username, user_path(@request.user_id) %>
		</h3>
	</div>


	<%= render 'viewapprovedrequestitems', request: @request %>

	<p>
		<strong>Reason </strong>
		<%= @request.reason %>
	</p>

	<% if @request.response != "" %>
		<p>
			<strong>Admin Response </strong>
			<%= @request.response %>
		</p>
	<% end %>

<% elsif @request.cancelled? || @request.denied? %>

	<% if @request.cancelled? %>
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h3 class="panel-title">This request has been cancelled</h3>
			</div>
		</div>
		<%= render 'reviveorderform', request: @request %>
	<% else %>
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h3 class="panel-title">This request has been denied</h3>
			</div>
		</div>
	<% end %>

	<div class="page-header">
		<h4 class="pull-right"><%= time_ago_in_words(@request.created_at) %> ago</h4>
		<h3><strong>Requested  </strong>by 
			<%= link_to @request.user.username, user_path(@request.user_id) %>
		</h3>
	</div>

	<%= render :partial => 'viewrequestitems', locals: {request: @request} %>

	<p>
		<strong>Reason </strong>
		<%= @request.reason %>
	</p>

	<% if @request.denied? && @request.response != "" %>
		<p>
			<strong>Admin Response </strong>
			<%= @request.response %>
		</p>
	<% end %>

<% end %>
