<p id="notice"><%= notice %></p>

<p>
  <strong>Request Time:</strong>
  <%= @request.datetime %>
</p>

<p>
  <strong>User:</strong>
  <%= @request.user %>
</p>

<p>
  <strong>Item:</strong>
  <% @item = Item.find(@request.item_id) %>
  <%= @item.unique_name %>
</p>

<p>
  <strong>Request Type:</strong>
  <%= @request.request_type %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @request.quantity %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @request.reason %>
</p>

<p>
  <strong>Status:</strong>
  <%= @request.status %>
</p>

<% if @request.outstanding? && current_user.privilege_admin? %>
  <%= link_to "Approve", 
    request_path(@request, request: { :status => "approved" }), 
    method: :put, 
    class: "btn btn-lg btn-primary" %>

  <%= link_to "Deny", 
    request_path(@request, request: { :status => "denied" }), 
    method: :put, 
    class: "btn btn-lg btn-primary" %>
<% end %>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
