<% provide(:title, 'All Tags') %>

<div class="center jumbotron">
  <h1>Tags</h1>
</div>

<% @tag = Tag.new %>
<% if @tag %>
	<%= render 'form', { url: nil } %>
<% end %>

<%= will_paginate %>

<ul class="tags">
  <%= render @tags %>
</ul>

<%= will_paginate %>

<%= link_to "View All", tags_path, class: "btn btn-lg btn-primary" %>
