<%= form_for (item), :html => {:class => "form-horizontal"} do |f| %>
    <fieldset>
      <% if item.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

            <ul>
              <% item.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="form-group">
        <%= f.label :unique_name, "Unique Name", class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.text_field :unique_name, class: "form-control", :placeholder=>"Name" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :description, "Description", class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.text_field :description, class: "form-control",:placeholder=>"Description" %>
        </div>

      </div>

      <div class="form-group">
        <%= f.label :quantity, "Quantity", class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.number_field :quantity, class: "form-control",:placeholder=>"0" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :model_number, "Model Number", class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.text_field :model_number, class: "form-control",:placeholder=>"0" %>
        </div>
      </div>

      <div class="form-group"> 
        <%= f.label :tag, "Tags", class: "col-lg-2 control-label" %>
        <div class="col-lg-10">

          <%= f.select :tag_list,
          Tag.all.map { |u| [u.name, u.name] },
          { include_blank: true },
          { multiple: true, class: 'chosen-select form-control'}
          %>
        </div>

      </div> 

			<!-- CUSTOM_FIELDS! -->
			<div class="page-header"><h4>Custom Fields</h4></div>
			<% CustomField.all.each do |cf| %>
				<% paren = (cf.private_indicator?) ? " (private)" : "" %>
				<div class="form-group">
					<%= f.label cf.field_name.to_sym, cf.field_name + paren, class: "col-lg-2 control-label" %>
					<div class="col-lg-10">
						<% if cf.short_text_type? %>
							<%= text_field_tag cf.field_name.to_sym, params[cf.field_name.to_sym], class: "form-control" %>
						<% elsif cf.long_text_type? %>
							<%= text_area_tag cf.field_name.to_sym, params[cf.field_name.to_sym], class: "form-control" %>
						<% elsif cf.integer_type? %>
							<%= number_field_tag cf.field_name.to_sym, params[cf.field_name.to_sym], class: "form-control" %>
						<% else %>
							<%= number_field_tag cf.field_name.to_sym, params[cf.field_name.to_sym], class: "form-control", step: :any %>
						<% end %>
					</div>	
				</div>
			<% end %>

      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="submit" class="btn-default btn-lg btn-block">Submit</button>
        </div>
      </div>
    </fieldset>
    <% end %>
