<%= form_for(item) do |f| %>
    <% if item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

          <ul>
            <% item.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :unique_name %><br>
      <%= f.text_field :unique_name %>
    </p>

    <p>
      <%= f.label :description %><br>
      <%= f.text_field :description %>
    </p>

    <p>
      <%= f.label :quantity %><br>
      <%= f.text_field :quantity %>
    </p>

    <p>
      <%= f.label :model_number %><br>
      <%= f.text_field :model_number %>
    </p>

    <!-- For adding tags to items -->
    <p> <strong>Tags</strong></p>
    <% if Tag.all.count > item.tags.all.count %>
      <%= collection_select(:tag, :tag_id, Tag.all - item.tags.all, :id, :name, {:prompt => "-- select tags to add to item --"}, {:multiple=> true}) %>

    <% else %>
        <p>No more tags available</p>
    <% end %>

    <!-- For removing tags from items -->
    <p> <strong>Associated Tags</strong></p>
    <% if item.tags.count > 0 %>
        <%= collection_select(:tag_to_remove, :tag_id_remove, item.tags.all, :id, :name, {:prompt => "-- select tags to remove from item --"}, {:multiple=> true}) %>
    <% else %>
        <p>No tags associated with <%= item.unique_name %></p>
    <% end %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
