<%= form_for (request_item) do |f| %>
	<%= f.hidden_field :item_id, :value => request_item.item_id %>
	<%= f.hidden_field :request_id, :value => request_item.request_id %>

	<td>
		<%= f.number_field :quantity_loan, class: "col-lg-12" %><br>
	</td>
	<td>
		<%= f.number_field :quantity_disburse, class: "col-lg-12" %><br>
	</td>
	
	<td>
		<%= f.submit "Add to Cart", class: "btn btn-default" %>
	</td>
<% end %>
