<% provide(:title, 'All Items') %>

<div class="center_jumbotron">
  <h1>Items</h1>
</div>

<p><% if is_manager_or_admin? %>
    <%= link_to "Create New Item", new_item_url, :class => "btn btn-primary btn-lg btn-block" %>
<% end %></p>


<ul class="nav nav-tabs">
  <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
  <% if is_admin? %>
  <li><a href="#profile" data-toggle="tab">Custom Fields</a></li>
  <% end %>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="home">
    <div class="search">
      <%= form_for items_path, :method => 'get' do |f| %>
          <p class="submit_bar">
            <%= f.label "Search by Item Name" %><br>
            <%= text_field_tag :search, params[:search], :placeholder => "Item 1" %>
          </p>

          <p>
            <%= f.label "Search by Model Number" %>
            <%= text_field_tag :model_search, params[:model_search], :placeholder => "A234"  %>
          </p>

          <h3>Required Tags</h3>
          <div class="tags">
            <% @tags.each do |tag| %>
                <label class="checkbox-inline">
                  <%= check_box_tag 'required_tag_names[]',
                                    tag.name,
                                    (@required_tag_filters.include? tag.name) %><br>
                  <%= tag.name %>
                </label>
            <% end %>
          </div>

          <h3>Excluded Tags</h3>
          <div class="tags">
            <% @tags.each do |tag| %>
                <label class="checkbox-inline">
                  <%= check_box_tag 'excluded_tag_names[]',
                                    tag.name,
                                    (@excluded_tag_filters.include? tag.name) %><br>
                  <%= tag.name %>
                </label>
            <% end %>
          </div>

          <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>

      <%= will_paginate %>

      <ul class="items">
        <%= render @items %>
      </ul>

      <%= will_paginate %>
    </div>
  </div>
          <% if is_admin? %>
  <div class="tab-pane fade" id="profile">
    <%= form_for :custom_field, url: custom_fields_url, method: 'post' do |cff| %>
    <table class="table table-hover">
            <tbody>
            <% CustomField.all.each do |cf| %>
                <tr>
                  <td><b><%= cf.field_name %></b></td>
                  <td><%= cf.private_indicator ? 'private' : 'public' %></td>
                  <td><%= CustomField.pretty_field_type(cf.id) %></td>
                  <td>
                    <%= link_to cf, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default" do %>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    <% end %>
                  </td>
                </tr>
            <% end %>

                <td><%= cff.text_field :field_name, class: "form-control" %></td>
                <td>Private? <%= cff.check_box :private_indicator, class: "form-control" %></td>
                <td><%= cff.select :field_type, [['Short Text', 'short_text_type'],
                                                 ['Long Text', 'long_text_type'],
                                                 ['Integer', 'integer_type'],
                                                 ['Float', 'float_type']],
                                   {}, class: "form-control" %></td>
                <td>
                  <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
                      <span class="glyphicon glyphicon-plus-sign"></span>
                  <% end %>
                </td>
            <% end %>
            </tbody>
          </table>
  </div>
  <% end %>
</div>
