<p id="notice"><%= notice %></p>

<% provide(:title, @item.unique_name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="item_info">
      <h1>
        <%= @item.unique_name %>
      </h1>
    </section>
  </aside>
</div>
<p>
  <strong>Unique_name:</strong>
  <%= @item.unique_name %>
</p>

<p>
  <strong>quantity:</strong>
  <%= @item.quantity %>
</p>

<p>
  <strong>model_number:</strong>
  <%= @item.model_number %>
</p>

<p>
  <strong>description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>tags:</strong>
  <%= @item.tags %>
</p>

<p>
  <strong>instances:</strong>
  <%= @item.instances %>
</p>

<%= link_to "New Request", new_request_url(:item_id => @item.id), :class => "btn btn-primary" %>

<% provide(:title, @item.unique_name) %>
<h1>
  <%= @item.unique_name %>
</h1>

<td><%= link_to 'Remove item', @item, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary" %></td>

<!--<td><%= link_to 'Edit item', @item, method: :edit_item, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary" %></td>-->
<td><%= link_to 'Edit item', edit_item_path(@item),:class => "btn btn-primary" %></td>