<p id="notice"><%= notice %></p>
<% provide(:title, @item.unique_name) %>

<% if !@item.active? %>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Item has been deleted.</h3>
      </div>
    </div>
<% end %>

<% if @item.active? || is_manager_or_admin? %>

    <div class="center_jumbotron">
      <h2 class="page-header"><%= @item.unique_name %>

        <div class="pull-right">
          <table><tbody><tr>
            <% if is_manager_or_admin? && @item.active? %>
                <% if @item.has_stocks? %>
                    <td><%= link_to 'Show Assets', item_stocks_path(@item.id), class: 'btn btn-primary' %></td>
                <% else %>
                    <td><%= link_to 'Convert to Assets', convert_to_stocks_item_path(@item.id), method: :post, class: 'btn btn-primary' %></td>
                <% end %>
                <td><%= link_to glyph(:pencil), edit_item_url(@item.id), :class => "btn btn-primary" %></td>
            <% end %>

            <% if is_admin?  && @item.active? %>
                <td><%= render 'deactivateitemform', item: @item %></td>
            <% end %>
          </tr></tbody></table>
        </div>
      </h2>
    </div>

    <div class="pull-right">
      <% if @item.active? %>
          <% ri = RequestItem.where(item_id: @item.id).where(request_id: grab_cart(current_user).id).take %>
          <% if ri.nil? %>
              <%= render 'showform', request_item: RequestItem.new(item_id: @item.id,
                                                                    request_id: grab_cart(current_user).id) %>
          <% else %>
              <%= render 'showform', request_item: ri %>
          <% end %>
      <% end %>
    </div><br><br><br>

    <ul class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">Item Details</a></li>
      <li><a href="#requests" data-toggle="tab"><%= (is_manager_or_admin?) ? "All Outstanding Requests" : "My Outstanding Requests" %></a></li>
      <li><a href="#loans" data-toggle="tab">Loans</a></li>
			<li><a href="#backfills" data-toggle="tab">Backfills</a></li>
      <% if is_manager_or_admin? %><li><a href="#logs" data-toggle="tab">Logs</a></li><% end %>
    </ul>

    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in" id="home">
        <br>
        <div class="panel panel-primary">
          <div class="panel-heading">Main Details</div>
          <div class="panel-body">
            <!-- All Item Information: Quantity in Stock, Model Num, Description -->
            <p>
              <strong>In Stock:</strong>
              <%= @item.quantity %> out of <%= @item.quantity_on_loan + @item.quantity %>
            </p>
            <p>
              <strong>Model Number:</strong>
              <%= @item.model_number %>
            </p>
            <p>
              <strong>Description:</strong>
              <%= @item.description %>
            </p>
            <% if is_manager_or_admin? %>
            <p>
              <strong>Minimum Stock:</strong>
              <%= @item.minimum_stock %>
            </p>
            <p>
              <strong>Email Tracking for Low Stock:</strong>
              <%= @item.stock_threshold_tracked %>
            </p>
            <%end%>
            <p>
              <strong>Tags:</strong>
              <% if @item.tags.first != NIL %>
                  <% @item.tags.each_with_index do |tag, index| %>
                      <%= tag.name + ((index == @item.tags.size-1) ? '' : ', ') %>
                  <% end %>
              <% else %>
                  None
              <% end %>
            </p>
          </div>
        </div>

        <div class="col-lg-0.5"></div>

        <div class="panel panel-info">
          <div class="panel-heading">Global Information</div>
          <div class="panel-body">
            <!-- Custom Fields -->
            <% @item_custom_fields.each do |icf| %>
                <% field_content = ( ItemCustomField.field_content(@item.id, icf.custom_field_id).blank? ?  'None' : ItemCustomField.field_content(@item.id, icf.custom_field_id) ) %>
                <% if is_manager_or_admin? || !icf.custom_field.private_indicator %>
                    <p>
                      <strong><%= icf.custom_field.field_name %>: </strong>
                      <%= field_content %>
                    </p>
                <% else %>
                <% end %>
            <% end %>
          </div>
        </div>

      </div>


      <div class="tab-pane fade" id="requests">
        <br>
        <% if @item.deactive? %>
            <blockquote>
              -- These requests cannot be approved as is --
            </blockquote>
        <% end %>
        <% if @requests.count == 0 %>
            <% text = (is_manager_or_admin?) ? "There are no requests on this item currently." : "You have no requests on this item currently" %>
            <%= text %>
        <% else %>
            <%= render @requests %>
            <%= will_paginate @requests %>
        <% end %>

      </div>

      <div class="tab-pane fade" id="loans">
        <br>
        <% requestss = Request.where(status: "approved") %>
        <% if !is_manager_or_admin? %>
            <% requestss = requestss.where(user_id: current_user.id) %>
        <% end %>

        <% if !requestss.nil? %>
            <% loanss = RequestItem.where("quantity_loan > ?", 0).where(item_id: @item.id).where(request_id: requestss.select(:id)) %>
        <% end %>
				<% hey_loans = loanss.where(bf_status: "loan").select(:id) and loanss.where(bf_status: "bf_denied").select(:id) and loanss.where(bf_status: "bf_failed").select(:id) %>
        <% if !hey_loans.empty? %>
            <ol class="loans">
              <%= render partial: "loans/loandisplay", collection: RequestItem.where(id: hey_loans), as: :loan %>
            </ol>
        <% else %>
            <% text = (is_manager_or_admin?) ? "There are no loans on this item currently." : "You have no loans on this item currently" %>
            <%= text %>
        <% end %>

      </div>

      <div class="tab-pane fade" id="backfills">
        <br>
        <% requestss = Request.where(status: "approved") %>
        <% if !is_manager_or_admin? %>
            <% requestss = requestss.where(user_id: current_user.id) %>
        <% end %>

        <% if !requestss.nil? %>
        	<% loanss = RequestItem.where("quantity_loan > ?", 0).where(item_id: @item.id).where(request_id: requestss.select(:id)) %>
        <% end %>
  			<% hey_backfills = loanss.where(bf_status: "bf_request").select(:id) and loanss.where(bf_status: "bf_in_transit").select(:id) %>
        <% if !hey_backfills.empty? %>
            <ol class="loans">
              <%= render partial: "loans/loandisplay", collection: RequestItem.where(id: hey_backfills), as: :loan %>
            </ol>
        <% else %>
            <% text = (is_manager_or_admin?) ? "There are no loans on this item currently." : "You have no loans on this item currently" %>
            <%= text %>
        <% end %>

      </div>

     	<% if is_manager_or_admin? %>
          <div class="tab-pane fade" id="logs">
            <br>
            <% itemLogs = Log.where(id: ItemLog.select(:log_id).where(item_id: @item.id))%>
            <% itemInReqLogs = Log.where(id: RequestLog.select(:log_id).where(request_id: RequestItem.select(:request_id).where(item_id: @item.id))) %>
            <% logss = Log.where(id: itemLogs | itemInReqLogs) %>

            <% if logss.any? %>

                <table class="table table-striped table-hover">
                  <thead>
                  <tr>
                    <th>Time</th>
                    <th>Initiator</th>
                    <th>Object Affected</th>
                    <th>Action</th>
                    <th>Affected User</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <%= render logss %>
                  </tbody>
                </table>

            <% end %>

          </div>
      <% end %>


    </div>


<% end %>
