<p id="notice"><%= notice %></p>

<% provide(:title, @item.unique_name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="item_info">
      <h1>
        <%= @item.unique_name %>
      </h1>
    </section>


    <p>
      <strong>Unique Name:</strong>
      <%= @item.unique_name %>
    </p>

    <p>
      <strong>Quantity:</strong>
      <%= @item.quantity %>
    </p>

    <p>
      <strong>Model Number:</strong>
      <%= @item.model_number %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @item.description %>
    </p>

    <p>
      <strong>Tags:</strong>
      <% @item.tags.each do |tag| %>
        <%= tag.name + ', ' %>
      <% end %>
    </p>
  </aside>

  <div class="col-md-8">
    <% if @item.requests.any? %>
      <h3>
        <%= (current_user.privilege_admin?) ? 
            "Outstanding Requests" : 
            "My Pending Requests" %>
      </h3>
      
      <ol class="requests">
        <%= render @requests %>
      </ol>

      <%= will_paginate @requests %>
    <% end %>
  </div>
</div>



<%= link_to "Add to Cart", new_request_item_url(:item_id => @item.id), :class => "btn btn-primary" %>
<% if current_user.privilege_admin? %>
  <%= link_to 'Remove item', 
    @item, 
    method: :delete, 
    data: { confirm: 'Are you sure?' }, 
    :class => "btn btn-primary" %>
  
  <%= link_to 'Edit item', 
    edit_item_path(@item), 
    :class => "btn btn-primary" %>
<% end %>

<br>
<br>
<br>
<%= link_to 'Back', items_path %>
