<% provide(:title, 'All Tags') %>

<div class="center_jumbotron">
  <h2 class="page-header">Subscribers</h2>
</div>

<% if Subscriber.exists?(:user_id => current_user.id) %>
    <% @subscriber = Subscriber.find_by(:user_id => current_user.id) %>
    <%= form_for(@subscriber) do |f| %>
        <%= button_to 'Remove yourself from Subscriber list', @subscriber, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-primary"%>
    <% end %>
<% else %>
    <% @subscriber = Subscriber.new %>
    <%= form_for(@subscriber) do |f| %>
        <% @form_obj = @subscriber %>
        <% if @form_obj %>
            <%= render 'shared/error_messages', object: @form_obj %>
        <% end %>
        <%= button_to "Add yourself to Subscriber list", :action => "new", class: "btn btn-primary" %>
    <% end %>
<% end %>


<div class="subscribers">
  <table class="table table-striped table-hover">
    <thead>
      <tr><th>Current Subscribers</th></tr>
    </thead>
    <tbody>
	<%= render @subscribers %>
    </tbody>
  </table>
</div>

<div class="text-center"><%= will_paginate %></div>
