<tr>

	<% if log.user? %>
		<% userlog = UserLog.find_by(:log_id => log.id) %>
		<% user = User.find(userlog.user_id) %>
	<% elsif log.request? %>
		<% reqlog = RequestLog.find_by(:log_id => log.id) %>
		<% request = Request.find(reqlog.request_id) %>
	<% else %> <!-- item -->
		<% itemlog = ItemLog.find_by(:log_id => log.id) %>
		<% item = Item.find(itemlog.item_id) %>
	<% end %>

	<!--Datetime-->
	<td><%= log.created_at.strftime("%B %e, %Y, %I:%M%p") %></td>

	<!--Initiator-->
	<td>
		<% if !log.user_id.nil? %>
			<% acting_user = User.find(log.user_id) %>
			<%= link_to acting_user.username, user_path(acting_user.id) %>
		<% else %>
			Three and a Half Asians
		<% end %>
	</td>
	
	<!--Object-->
	<td>
		<% if log.user? %>
			None
		<% elsif log.request? %>
			<%= link_to "Request", request_path(request.id) %>
		<% else %> <!-- item -->
			<%= link_to item.unique_name, item_path(item.id) %>
		<% end %>
	</td>
		
	<!--Action-->
	<td>
		<% if log.user? %>
			<%= userlog.action %>
		<% elsif log.request? %>
			<%= reqlog.action %>
		<% else %> <!-- item -->
			<%= itemlog.action %>
		<% end %>
	</td>
	
	<!--Affected User-->
	<td>
		<% if log.user? %>
			<%= link_to user.username, user_path(user.id) %>
		<% elsif log.request? %>
			<% reqUser = User.find(request.user_id) %>
			<%= link_to reqUser.username, user_path(reqUser.id) %>
		<% else %> <!-- item -->
				None
		<% end %>

	</td>

	<!--View Details-->
	<td><%= link_to "View Details", log_path(log.id) %></td>

</tr>
