<li id="log-<%= log.id %>">

	<span class="user">
		<% if !log.user_id.nil? %>
			<% acting_user = User.find(log.user_id) %>
			<%= link_to acting_user.username, user_path(acting_user) %>
		<% else %>
			Spicy Software Inc.
  	<% end %>
	</span>


	<div class="content">
		<% if log.user? %>
			<% userlog = UserLog.find_by(:log_id => log.id) %>
			<% user = User.find(userlog.user_id) %>
			<% "HAVE TO ALSO QUERY DELETED TABLE!!" %>

			<% if userlog.created? %>
					<%= "created" %>
				<%= link_to user.username, user_path(user) %>
				<%= " with privilege " + userlog.new_privilege %>
			<% elsif userlog.deleted? %>
				<%= "deleted - need to query deleted table tbd" %>
				

		 <% elsif userlog.privilege_updated? %>
				<%= "changed " %>
				<%= link_to user.username, user_path(user) %>
				<%= "'s privilege from " + userlog.old_privilege  + " to " + userlog.new_privilege %>
			<% end %>

		<% elsif log.request? %>
			<% reqlog = RequestLog.find_by(:log_id => log.id) %>
			<% request = Request.find(reqlog.request_id) %>
			<% user = User.find(request.user_id) %>			

			<% if reqlog.placed_order? %>
				placed an <%= link_to "order", request_path(request) %> 
			<% elsif reqlog.approved? %>
				approved
				<%= link_to user.username, user_path(user) %>
				's <%= link_to "request", request_path(request) %>
			<% elsif reqlog.denied? %>
				denied
				<%= link_to user.username, user_path(user) %>
				's <%= link_to "request", request_path(request) %>
			<% elsif reqlog.cancelled? %>
				deleted
				<%= link_to user.username, user_path(user) %>
				's <%= link_to "request", request_path(request) %>
			<% end %>

			for
			<% if request.request_items.empty? %>
				NOTHING wow okay
			<% end %>
			<ul>
				<% request.request_items.each do |req_item| %>
					<% item = Item.find(req_item.item_id) %>
					<li><%= item.unique_name + ': ' %>
					<%= req_item.quantity %></li>	
				<% end %>
			</ul>

		<% elsif log.item? %>
		<% end %>

	</div>

  <br>
  <span class="timestamp">
    Logged <%= time_ago_in_words(log.created_at) %> ago.
  </span>
  
</li>
