<li id="log-<%= log.id %>">


	<span class="user">
		<% if !log.user_id.nil? %>
			<% acting_user = User.find(log.user_id) %>
			<%= link_to acting_user.username, user_path(acting_user) %>
		<% else %>
			Spicy Software Inc.
  	<% end %>
	</span>


	<div class="content">
		<% if log.user? %>
			<% userlog = UserLog.find_by(:log_id => log.id) %>
			<% user = User.find(userlog.user_id) %>
			<% "HAVE TO ALSO QUERY DELETED TABLE!!" %>

			<% if userlog.action_creation? %>
					<%= "created" %>
				<%= link_to user.username, user_path(user) %>
				<%= " with privilege " + userlog.new_privilege %>
			<% elsif userlog.action_deletion? %>
				<%= "deleted - need to query deleted table tbd" %>
				

		 <% else %>
				<%= "changed " %>
				<%= link_to user.username, user_path(user) %>
				<%= "'s privilege from " + userlog.old_privilege  + " to " + userlog.new_privilege %>
			<% end %>

		<% elsif log.request? %>

		<% else %>
		<% end %>

	</div>

  <br>
  <span class="timestamp">
    Logged <%= time_ago_in_words(log.created_at) %> ago.
  </span>
  
</li>
