<%# app/views/logs/index.html.erb %>
<% provide(:title, 'Logs') %>


<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Logs</h1>

    <%= link_to "Report Acquisition and Damages", new_log_path, class: "btn btn-lg btn-primary" %>
    
    <% if @logs.any? %>
      <h3>No. Logs (<%= @logs.count %>)</h3>
      <ol class="logs">
        <%= render @logs %>
      </ol>

      <%= will_paginate @logs %>
    <% end %>

    <br>

    <%= link_to "View Disbursements", logs_path(:request_type => "disbursement"), class: "btn btn-lg btn-primary" %>
    <%= link_to "View Acquisitions", logs_path(:request_type => "acquisition"), class: "btn btn-lg btn-primary" %>
    <%= link_to "View Destructions", logs_path(:request_type => "destruction"), class: "btn btn-lg btn-primary" %>
    <%= link_to "View All", logs_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
