<%# app/views/logs/index.html.erb %>
<% provide(:title, 'Logs') %>

<div class="search">
  <%= form_for logs_path, :method => 'get' do |f| %>
      <p class="submit_bar">
        <%= f.label "Search by User Name" %><br>
        <%= text_field_tag :user_search, params[:user_search], :placeholder => "User" %>
      </p>

      <p>
        <%= f.label "Search by Item Name" %>
        <%= text_field_tag :item_search, params[:item_search], :placeholder => "Item"  %>
      </p>

      <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Logs</h1>

    <%= link_to "Report Acquisition and Damages", new_log_path, class: "btn btn-lg btn-primary" %>
    
     <%= link_to "View Disbursements", logs_path(:request_type => "disbursement"), class: "btn btn-lg btn-primary" %>
    <%= link_to "View Acquisitions", logs_path(:request_type => "acquisition"), class: "btn btn-lg btn-primary" %>
    <%= link_to "View Destructions", logs_path(:request_type => "destruction"), class: "btn btn-lg btn-primary" %>
    <%= link_to "View All", logs_path, class: "btn btn-lg btn-primary" %>
    <% if @logs.any? %>
      <h3>No. Logs (<%= @logs.count %>)</h3>
      <ol class="logs">
        <%= render @logs %>
      </ol>

      <%= will_paginate @logs %>
    <% end %>

    <br>

 </div>
</div>
