<%# app/views/logs/index.html.erb %>
<% provide(:title, 'Logs') %>

<h1>Logs</h1>

<%= link_to "Report Acquisition and Damages", new_log_path, class: "btn btn-lg btn-primary" %>

<table>
  <thead>
    <tr>
      <th>Date Time</th>
      <th>Username</th>
      <th>Item Name</th>
      <th>Quantity</th>
      <th>Request Type</th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <% user = User.find(log.user_id) %>
      <% item = Item.find(log.item_id) %>
      <tr>
        <th><%= log[:datetime] %></th>
        <th><%= user.username %></th>
        <th><%= item.unique_name %></th>
        <th><%= log[:quantity] %></th>
        <th><%= log[:request_type] %></th>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "View Disbursements", logs_path(:request_type => "disbursement"), class: "btn btn-lg btn-primary" %>
<%= link_to "View Acquisitions", logs_path(:request_type => "acquisition"), class: "btn btn-lg btn-primary" %>
<%= link_to "View Destructions", logs_path(:request_type => "destruction"), class: "btn btn-lg btn-primary" %>
<%= link_to "View All", logs_path, class: "btn btn-lg btn-primary" %>
